<li>

	<span>
		{{burger_name}}
	</span>

	<button data-id="{{id}}" data-devoured="{{devoured}}" class="change-devoured {{#if devoured}}d-none{{/if}}">
		{{#if devoured}}Nothing here to see{{else}}Devour
		It!{{/if}}
	</button>
</li>